---
import { Vimeo } from "@astro-community/astro-embed-vimeo";

interface Props {
	number?: string | number;
	isBig?: boolean;
	title?: string;
	subTitle?: string;
	right?: boolean;
	data?: {
		title: string;
		isBig: boolean;
		gif?: string;
		link: string;
	};
}

const {
	data,
	number,
	isBig = false,
	title = "PUMA x FREDRICK",
	subTitle = "Project",
	right = false,
} = Astro.props;
---

<div
  class=`group relative w-full flex flex-col overflow-clip gap-4 ${data?.isBig ? 'h-full sm:col-span-2 sm:row-span-2' : ''}`
>
  <div class=`flex gap-8 mt-4 w-full ${right ? 'justify-end' : ''}`>
    {number && <p class="text-[12px]">[{number}]</p>}

    <div class=`${right ? 'text-right' : ''}`>
      <p class="text-[12px] opacity-60">{subTitle}</p>
      <p class="text-[12px] uppercase">{data?.title}</p>
    </div>
  </div>

  <div
    class=`relative w-full overflow-hidden ${data?.isBig ? 'flex-grow min-h-[400px]' : 'aspect-video min-h-[200px]'}`
  >
    {
      data?.gif && (
        <img
          src={data.gif}
          alt="Loading Animation"
          class="absolute inset-0 block w-full h-full object-cover"
        />
      )
    }

    <img
      src="/image.jpg"
      alt="Project Cover"
      class=`parallax-element absolute -top-[10%] left-0 w-full h-[120%] object-cover transition-opacity duration-300 ${data?.gif ? 'group-hover:opacity-0' : ''}`
    />
  </div>
</div>

<script>
  import { initParallax } from "../../../shared/animation/parallax";

  function setupParallax() {
    const elements = document.querySelectorAll(".parallax-element");

    if (elements.length === 0) return;

    elements.forEach((el) => {
      el.classList.remove("initialised");

      initParallax(el as HTMLElement, 10);
      el.classList.add("initialised");
    });

    ScrollTrigger.refresh();
  }
  document.addEventListener("astro:page-load", () => {
    setTimeout(setupParallax, 650);
  });

  if (document.readyState === "complete") {
    setupParallax();
  } else {
    window.addEventListener("load", setupParallax);
  }
</script>
