---
import { Vimeo } from "@astro-community/astro-embed-vimeo";
---

<div class="w-full">
  

  <!-- <div class="relative w-full flex flex-col h-96 bg-zinc-900 overflow-hidden">
    <div
      class="absolute inset-0 flex items-end p-8 bg-gradient-to-t from-black/50 to-transparent"
    >
      <h5 class="text-white font-medium text-lg">PROJECT TITLE</h5>
    </div>
    <div class="video-wrapper">
      <Vimeo id="https://vimeo.com/392460230" params="autoplay=1&muted=1" />
    </div>
  </div> -->
</div>
