---
import Header from "../views/header/Header.astro";
// import "@fontsource/space-mono/400.css";
// import "@fontsource/space-mono/700.css";

// import "@fontsource/space-grotesk/300.css"; // Light
// import "@fontsource/space-grotesk/400.css"; // Regular
// import "@fontsource/space-grotesk/700.css"; // Bold

import "../styles/global.css";
import CustomCursor from "../components/ui/CustomCursor.astro";
import Loader from "../components/ui/loader/Loader.astro";
import Footer from "../views/footer/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <title>Astro Basics</title>
  </head>
  <body>
    <CustomCursor />
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  @import "@fontsource/space-mono/400.css";
  @import "@fontsource/space-mono/700.css";
  @import "@fontsource/space-grotesk/300.css";
  @import "@fontsource/space-grotesk/400.css";
  @import "@fontsource/space-grotesk/700.css";

  html,
  body {
    /* width: 100%; */
    min-height: 100%;
    background-color: #010101;
    color: #ebebeb;
    max-width: 1920px;
    padding: 0;

    margin: auto;
  }
</style>

<style is:global>
  body {
    font-family: "Space Mono", monospace;
    font-family: "Space Grotesk", sans-serif;
  }
</style>
