---
import Header from "../views/header/Header.astro";

import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import CustomCursor from "../components/ui/CustomCursor.astro";
import Loader from "../components/ui/loader/Loader.astro";
import Footer from "../views/footer/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/bef2bdy.css" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
    <title>Astro Basics</title>
  </head>
  <body>
    <CustomCursor />
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  ::view-transition-old(root) {
    animation: none;
    z-index: 1;
  }
  ::view-transition-new(root) {
    z-index: 2;
    animation: slide-up 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  }

  @keyframes slide-up {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  html,
  body {
    /* width: 100%; */
    min-height: 100%;
    background-color: #010101;
    color: #ebebeb;
    max-width: 1920px;
    padding: 0;

    margin: auto;
  }
</style>

<style is:global>
  body {
    /* font-family: "Space Mono", monospace; */
    font-family: "Space Grotesk", sans-serif;
  }
</style>
