---
import TextEffect from "../../../components/animations/TextEffect.astro";
---

<section class="py-16 px-16 grid grid-cols-4 gap-16 w-full">
  <div><p>01 PUMA x Fredrick</p></div>
  <div class="col-span-2 flex flex-col gap-8">
    <p class="text-center">MORE INFO</p>
    <TextEffect
      ><p class="uppercase">
        "The Painted Area" is a visceral exploration of legacy, sacrifice, and
        the weight of expectation, following Elias Thorne, a rising star whose
        devotion to the game is tested by a career-threatening injury and the
        haunting pressure to fulfill a dream that may no longer be his own.
      </p></TextEffect
    >
  </div>
  <div class="flex flex-col gap-8">
    <p class="text-right">2026</p><TextEffect
      ><p class="text-right">
        HERZOGENAURACH, BAYERN 10.8819° N, 49.5700° W 35mm KODAK FILM
      </p></TextEffect
    >
  </div>
</section>
